@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$main_font: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #f2be01;
$green: #8adb00;
$white: #ffffff;
$lightGrey: #e1e1e1;
$darkGrey: #2b2b2b;

$separation: 5rem;

// Fuentes

$thin: 300;
$regular: 400;
$bold: 700;
$extraBold: 900;
