@include tablet {
	.ads-container {
		@include grid(3, 3rem);
	}
}

.ads {
	background-color: lighten($lightGrey, 5);
	border: 1px solid darken($lightGrey, 10);
	margin-bottom: 2rem;
	border-radius: 10px;

	img {
		border-radius: 10px 10px 0 0;
	}

	.ads-content {
		padding: 2rem;
	}

	h3,
	p {
		margin: 0;
		text-align: center;
	}

	p.price {
		color: $green;
		font-weight: $bold;
		font-size: 3rem;
		text-align: left;
		margin-left: 2rem;
	}

	.icons-features {
		display: flex;
		justify-content: center;
		list-style: none;
		padding-left: 4rem;
		margin: 2rem 0;

		li {
			flex: 1;
			display: flex;

			img {
				height: 30px;
				flex: 0 0 3rem;
				margin-right: 1rem;
			}
			p {
				font-weight: $extraBold;
			}
		}
	}
}
