@include tablet {
	.ads-container {
		@include grid(3, 2rem);
	}
}

.ads {
	background-color: lighten($lightGrey, 5);
	border: 1px solid darken($lightGrey, 10);
	margin-bottom: 2rem;

	.ads-content {
		padding: 2rem;
	}

	h3,
	p {
		margin: 0;
	}
}
.price {
	color: $green;
	font-weight: $bold;
	font-size: 3rem;
}

.icons-features {
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 40rem;

	li {
		flex: 1;
		display: flex;

		img {
			flex: 0 0 3rem;
			margin-right: 1rem;
		}
		p {
			font-weight: $extraBold;
		}
	}
}
