.footer {
	padding: calc($separation / 2) 0;
	background-color: $darkGrey;
	margin-bottom: 0;

	.footer-container {
		padding-top: calc($separation / 2) 0;
	}

	.navegation {
		visibility: visible;
		opacity: 1;
		height: auto;
	}

	.copyright {
		color: $white;
		text-align: center;
		font-size: 14px;
	}
}
